.section-paragraph {
// font-family: 'Metropolis';
font-weight: 500;
font-size: 1.5rem;
line-height: 40px;
text-align: center;
letter-spacing: 0.08em;
text-transform: uppercase;
color: #F8FAFF;
margin-top: 1rem;
margin-bottom: 2.5rem;

}