.section-hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(17, 17, 17, 0.9019257361147583) 82%,
    rgba(17, 17, 17, 0.8795167725293243) 100%,
    rgba(17, 17, 17, 1) 100%
  );
  position: relative;
  &__content {
    background-image: url(/assets/backgroundHero.png),
      url(/assets/backgroundPlanetHero.png);
    background-position: center center, center 50vh;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 70% 100vh;
    width: 100%;
    height: 100vh;
    &__satellite {
      &--big {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
      }
      &--blue {
        position: absolute;
        bottom: 11vh;
        right: 7vw;
        z-index: 101;
      }
      &--red {
        position: absolute;
        bottom: 24vh;
        left: 13vw;
        z-index: 2;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .section-hero__content {
    background-size: cover, auto 100vh;
   
  }
}
@media screen and (max-width: 1250px) {
  .section-hero__content__satellite {
    &--big {
      height: 450px;
      top: 10%;
    }
    &--blue {
      height: 110px;
      bottom: 11vh;
    }
    &--red {
      height: 120px;
      bottom: 20vh;
    }
  }
}
@media screen and (max-width: 992px) {
  .section-hero__content {
    background-position: center center, center 50vh;
    background-size: cover, auto 100vh;
    &__satellite {
      &--big {
        height: 320px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .section-hero__content {
    background-position: center center, center 66vh;
    background-size: cover, auto 70vh;
  }
}
@media screen and (max-width: 576px) {
  .section-hero__content {
    background-position: center center, center 66vh;
    background-size: cover, auto 70vh;
    &__satellite {
      &--blue {
        display: none;
      }
      &--red {
        bottom: 40vh;
        left: 3vw;
      }
    }
  }
}
@media screen and (max-width: 450px) {
  .section-hero__content {
    &__satellite {
      &--big {
        height: 260px;
      }
     
    }
  }
}
@media screen and (max-width: 390px) {
  .section-hero__content {
    &__satellite {
      &--big {
        top: 15%;
      }
      &--red {
        left: -10vw;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .section-hero__content {
    background-size: cover, auto 100vh;
    &__satellite {
      &--big {
        height: 450px;
      }
      &--blue {
        height: 100px;
      }
      &--red {
        height: 100px;
      }
    }
  }
}
