.section-hero {
  min-height: 700px;
  height: 100vh;
  overflow: hidden;
  background-image: url('/assets/backgroundPlanetHero.png'),
    url('/assets/backgroundHero.png');
  background-position: center 50vh, top;
  background-repeat: no-repeat, no-repeat;
  background-size: 70% 100vh, cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, rgba(14, 12, 32, 0) 0%, rgba(14, 12, 32, 1) 100%);
  }
  &__content {
    &__satellite {
      position: absolute;
      left: 0;
      right: 7%;
      margin-inline: auto;
      width: 80%;
      bottom: 0;
      z-index: 0;
      max-width: 950px;
    }
    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
@media screen and (max-width: 1440px) {
  .section-hero__content {
    background-size: auto 100vh, cover;
  }
}
@media screen and (max-width: 992px) {
  .section-hero {
    background-position: center 50vh, center center;
    background-size: auto 100vh, cover;
    &__content {
      &__satellite {
        width: 110%;
        left: -6%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .section-hero {
    background-position: center 66vh, center center;
    background-size: auto 70vh, cover;
    &__content {
      &__satellite {
        width: 135%;
        left: -20%;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .section-hero {
    background-position: center 66vh, center center;
    background-size: auto 70vh, cover;
    &__content {
      &__satellite {
        left: -25%;
        min-width: 550px;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .section-hero {
    background-size: auto 100vh, cover;
  }
}
@media screen and (max-height: 700px) {
  .section-hero {
    background-size: auto 500px, cover;
    background-position: center 500px, center center;
  }
}
