.section-footer__link {
  // font-family: 'Nebula';
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: #f8faff;
  opacity: 0.32;
  text-transform: uppercase;
  text-decoration: none;
}
