$paddingWidth: 28px;
.modal {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease-in-out;
  height: unset;
  padding: 40px 61px !important;
  width: 50%;
  z-index: 100;
  &:hover {
    cursor: default;
    opacity: 1;
    transition: 0.4s ease-in-out;
  }
}
.button--modal {
  transition: 0.4s ease-in-out;
  height: unset;
  width: 100%;
  padding: initial !important;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  &:hover {
    opacity: 0.8;
    transition: 0.4s ease-in-out;
    background: rgba(33, 27, 63, 1);
  }
}
.full-opacity {
  opacity: 1;
  &:hover {
    opacity: 1;
  }
}

.input {
  transition: 0.4s ease-in-out;
  height: 80px;
  width: 100%;
  padding: unset;
  &:hover {
    opacity: 0.8;
    transition: 0.4s ease-in-out;
  }
}
.confirm-button {
  transition: 0.4s ease-in-out;
  height: 67px;
  width: 100%;
  padding: unset;
  justify-content: center;
  background: #2c2c2c4d;
  &:hover {
    opacity: 0.8;
    transition: 0.4s ease-in-out;
  }
}
.dark {
  &::before {
    background: rgba(14, 12, 32, 0.98);
  }
  &::after {
    background: rgba(255, 255, 255, 0.2);
  }
}
.about-play {
  margin-right: 2rem;
  padding: 3px 56px;
  &:hover {
    opacity: 0.8;
    transition: 0.4s ease-in-out;
  }
}

.about-socials {
  padding: 3px 28px;
}
@media screen and (max-width: 1200px) {
  .about-play {
    padding: 3px 31px;
  }
}
@media screen and (max-width: 768px) {
  .about-play {
    width: 80%;
    margin: 0 0 1rem 0;
  }
  .about-socials {
    width: 80%;
  }
  .modal {
    width: 90%;
    padding: 40px 20px;
  }
}

@media screen and (min-width: 577px) {
  .button-menu {
    display: none !important;
  }
}
