.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  margin-bottom: 9rem;
  &__play {
    text-transform: uppercase;
    font-family: 'Titillium Web';
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    &:hover {
      opacity: 0.7;
      transition: 0.4s ease-in-out;
    }
  }
  &__connect {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 11;
    position: relative;
    &--text {
      font-family: 'Titillium Web';
      font-weight: 600;
      font-size: 20px;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0;
      transition: width 0.4s ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
    &-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      &__buttons {
        position: relative;
      }
    }
    &__dropdown {
      gap: 0.5rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      &--button {
        background: none;
        border: none;
        font-family: 'Titillium Web';
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
          transition: 0.4s ease-in-out;
        }
      }
    }
  }
  &__mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 12, 32, 0.98);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    z-index: 101;
    transition: 0.5s ease-in-out;
    transform: translateX(100%);
    &--active {
      transform: translateX(0);
    }
    &-close {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
      cursor: pointer;
    }
  }

}
.desktop-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.burger-icon {
  display: none;
  cursor: pointer;
  height: 24px;
}
@media screen and (max-width: 576px) {
  .desktop-buttons {
    display: none;
  }

  .burger-icon {
    display: block;
  }
}