.section-title {
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  font-family: 'Orbitron';
  font-weight: 900;
  font-size: 88px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  position: relative;
  &--first {
    font-size: 96px;
  }
}
@media screen and (max-width: 992px) {
  .section-title {
    font-size: 4rem;
    line-height: 80px;
  }
}
@media screen and (max-width: 768px) {
  .section-title {
    font-weight: 800;
    font-size: 48px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.02),
      0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.14),
      0px 0px 1px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (max-width: 576px) {
  .section-hero__content__text--title {
    font-weight: 900;
    font-size: 56px;
    line-height: 70px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  }
}
