.section-carousel {
  &__gallery {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    animation: appear 1s ease;
    &__images {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
    }
    &__close {
      position: absolute;
      top: 20px;
      right: 30px;
      color: #fff;
      cursor: pointer;
      z-index: 1001;
    }
  }
  .react-responsive-3d-carousel__item {
    width: 400px !important;
    height: 150px !important;
  }
  @media screen and (max-width: 1024px) {
    .section-carousel {
      &__gallery {
        &__close {
          top: 25px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .section-carousel {
      &__gallery {
        &__close {
          top: 30px;
        }
      }
    }
  }
  @media screen and (max-width: 640px) {
    .section-carousel {
      &__gallery {
        &__close {
          top: 40px;
        }
      }

      .react-responsive-3d-carousel__item {
        width: 200px !important;
        height: 120px !important;
      }
    }
  }
  .zoomed {
    overflow: visible !important;
    z-index: 1000;

    img {
      transform: scale(1.2);
    }
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
