.section-donate__input {
  display: flex;
  flex-direction: column;
  &-label {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #8c8b92;
    margin-bottom: 0.5rem;
  }
  &-container {
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    &__start {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
    }
    &__input {
      background: transparent;
      border: none;
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;
      color: #ffffff;
      width: 100%;
    }
    &__end {
      background: transparent;
      font-family: 'Roboto';
      font-size: 24px;
      line-height: 28px;
      color: #8c8b92;
      border: none;
      @media screen and (max-width: 576px) {
        font-size: 16px;
      }
      select {
        font-size: 24px;
        border: none;
        background: transparent;
        color: #8c8b92;
        cursor: pointer;
        @media screen and (max-width: 576px) {
          font-size: 14px;
        }
      }
    }
    &-icon {
      height: 42px;
      @media screen and (max-width: 576px) {
        height: 25px;
      }
      img {
        height: 100%;
      }
    }

    &-container input {
      flex: 1;
      border: none;
      outline: none;
    }
  }
}
