.section-carousel__cards {
  width: 100%;
  margin: 2rem auto 0 auto;
  max-width: 1140px;
  .react-responsive-3d-carousel__item {
    width: 270px !important;
    height: 330px !important;
  }
  @media screen and (max-width: 640px) {
    .react-responsive-3d-carousel__item {
      width: 200px !important;
      height: 230px !important;
    }
  }
}
